#logo {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 25%;
}

#apointment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 45%
}
li a{
    color: green;
    font-size: 20px;
    text-decoration: none;
}
.nav{
    list-style:none;
    margin:10px;
    padding:0;
    text-align:center;
    overflow: hidden;

}
.nav li{
    display:inline;

}
.nav a {
    display:inline-block;
    padding:10px;
}
.button {
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:15px 50px 15px 50px;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    width:45%;
}
a:link{
    text-decoration:none;
}
.button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:15px 20px 15px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    width:48%;
    text-decoration: none;
}
.header {
    position: relative;
    margin-left: 18%;
    font-family: Inter;
    font-size:45px;
    color:rgb(70,130,180);
    text-decoration: none;
}
.text {
    position: relative;
    font-family: Inter;
    font-size:30;
    text-align:center;
}
/* Change the link color to #111 (black) on hover */
.nav a:hover:not(.active) {
    color: red;
}
.active{
    color: blue;
}
.link1 {
    position: relative;
    text-align:right;
    color: blue;
    margin-right: 19%;
    font-size: 30;
    color:rgb(70,130,180);
    font-family: Inter;
}
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    li {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}